@model RESTORANS.Models.Order   
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main container-xxl py-5">
    <div class="pagetitle">
        <h2>Xác nhận hủy đơn hàng</h2>
    </div>
        <table class="table table-borderless datatable">
            <thead class="border border-success bg-secondary text-white">
                <tr>
                    <th class="col-1 text-center">Mã đơn hàng</th>
                    <th class="col-2 text-center">Ngày đặt</th>
                    <th class="col-2 text-center">Ngày ship</th>
                    <th class="col-2 text-center">tên khách hàng</th>
                    <th class="col-2 text-center">Yêu cầu của khách hàng</th>
                    <th class="col-2 text-center">hủy đơn hàng</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-center" scope="row">
                        <input type="text" class="form-control mb-3 text-center border-0 bg-white" asp-for="OrderID" disabled />
                    </th>
                    <td class="text-center">
                        <input type="text" class="form-control mb-3 text-center border-0 bg-white" asp-for="OrderDate" disabled />
                    </td>
                    <td class="text-center">
                        <input type="text" class="form-control mb-3 text-center border-0 bg-white" asp-for="ShipDate" disabled />
                    </td>
                    <td class="text-center">
                        <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                        <select asp-for="CustomersID" class="form-control text-center border-0 bg-white" asp-items="@(new SelectList(ViewBag.mnList, "Value","Text"))">  </select>
                    </td>
                    <td class="text-center">
                        <input type="text" class="form-control mb-3 text-center border-0 bg-white" asp-for="Description" disabled />
                    </td>
                    <td class="text-center">
                    <form asp-action="Delete" method="post">
                        <input type="hidden" asp-for="OrderID" />
                        <button type="submit" class="btn btn-danger">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </form>
                    </td>
                </tr>
            </tbody>
        </table>
        
</main>
