@model RESTORANS.Models.Order

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main container-xxl py-5">
    <div class="pagetitle d-flex justify-content-center">
        <h2 class="text-success">Xem chi tiết đơn hàng</h2>
    </div>
    <table class="table table-borderless datatable">
        <thead class="border border-success bg-secondary text-white">
            <tr>
                <th class="col-1 text-center">Mã đơn hàng</th>
                <th class="col-2 text-center">Ngày đặt</th>
                <th class="col-2 text-center">Ngày đến</th>
                <th class="col-3 text-center">Yêu cầu của khách hàng</th>
                <th class="col-2 text-center">quay lại</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <th class="text-center" scope="row">
                        <input  type="text"  class="form-control mb-3 text-center border-0 bg-white" asp-for="OrderID" disabled />
                    </th>
                    <td class="text-center">
                         <input type="text" class="form-control mb-3 text-center border-0 bg-white" asp-for="OrderDate" disabled />
                    </td>
                    <td class="text-center">
                        <input type="text" class="form-control mb-3 text-center border-0 bg-white" asp-for="ArrivalDate" disabled />
                    </td>
                    <td class="text-center">
                        <input type="text" class="form-control mb-3 text-center border-0 bg-white" asp-for="Description" disabled />
                    </td>
                    <td class="text-center">
                        <form asp-action="Delete" method="post" style="margin-top:15px">
                            <a class="btn btn-lg btn-warning" href="javascript:history.back()">
                                <i class="bi bi-arrow-left-circle"></i>
                            </a>
                        </form>
                    </td>
                </tr>
        </tbody>
    </table>

</main>
