@using RESTORANS.Models;
@using RESTORANS.Utilities;
@model IList<Post>

<div class="mb-5">
    <div class="section-title section-title-sm position-relative pb-3 mb-4">
        <h3 class="mb-0">Bình luận</h3>
    </div>
    @foreach(var item in Model)
    {
    <div class="d-flex mb-4">
      
       <img src="@item.Images" class="img-fluid" style="width: 40px; height: 40px;border-radius:50%">
        
        <div class="ps-3">
            <h6><a href="">@item.FullName </a> <small><i>@item.CreatedDate</i></small></h6>
            <p>
                @item.Contents
            </p>                                                     
        </div>
    </div>
    }
</div>
