@model RESTORANS.Models.Post;
@using RESTORANS.Models
<!-- Blog Start -->
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Xem Bài viết</h2>
    </div>
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-8">
                    <!-- Blog Detail Start -->
                    <div class="mb-5">
                        <div class="container-xxl py-5">
                            <div class="container">
                                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Our Services</h5>
                                    <h1 class="mb-5">Explore Our Services</h1>
                                </div>
                                <div class="row g-4">
                                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                                        <div class="service-item rounded pt-3">
                                            <div class="p-4">
                                                <i class="@Html.DisplayFor(m=>m.Icon) text-primary mb-4"></i>
                                                <h5>@Html.DisplayFor(m=>m.Title)</h5>
                                                <p>@Html.Raw(Model.Abstract)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a class="btn btn-lg btn-warning p-2 mr-5" href="javascript:history.back()">
                        <i class="bi bi-arrow-left-circle"></i> Quay lại
                    </a>

                </div>
            </div>
        </div>
    </div>
</main>
